test/test-schema.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ODM (Study*, AdminData*, ReferenceData*, ClinicalData*, Association*, ds:Signature*)>
<!ATTLIST ODM
          xmlns:xsi CDATA #IMPLIED
          FileOID CDATA #IMPLIED
          Description CDATA #IMPLIED
          CreationDateTime CDATA #IMPLIED
          FileType CDATA #IMPLIED
          ODMVersion CDATA #IMPLIED
          xmlns CDATA #IMPLIED>
<!ELEMENT Study (GlobalVariables, BasicDefinitions?, MetaDataVersion*)>
<!ATTLIST Study
          OID CDATA  #REQUIRED>
<!ELEMENT GlobalVariables (StudyName, StudyDescription, ProtocolName)>
<!ELEMENT StudyName (#PCDATA)>
<!ELEMENT StudyDescription (#PCDATA)>
<!ELEMENT ProtocolName (#PCDATA)>
<!ELEMENT BasicDefinitions (MeasurementUnit*)>
<!ELEMENT MeasurementUnit (Symbol, Alias*)>
<!ATTLIST MeasurementUnit
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED>
<!ELEMENT Symbol (TranslatedText+)>
<!ELEMENT TranslatedText (#PCDATA)>
<!ATTLIST TranslatedText
          xml:lang CDATA #IMPLIED>
<!ELEMENT MetaDataVersion (Include?, Protocol?, StudyEventDef*, FormDef*, ItemGroupDef*, ItemDef*, CodeList*, Presentation*, ConditionDef*, MethodDef*)>
<!ATTLIST MetaDataVersion
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED
          Description CDATA #IMPLIED>
<!ELEMENT Include EMPTY>
<!ATTLIST Include
          StudyOID CDATA  #REQUIRED
          MetaDataVersionOID CDATA  #REQUIRED>
<!ELEMENT Protocol (Description?, StudyEventRef*, Alias*)>
<!ELEMENT Description (TranslatedText+)>
<!ELEMENT StudyEventRef EMPTY>
<!ATTLIST StudyEventRef
          StudyEventOID CDATA  #REQUIRED
          OrderNumber CDATA #IMPLIED
          Mandatory (Yes | No) #REQUIRED
          CollectionExceptionConditionOID CDATA  #IMPLIED>
<!ELEMENT StudyEventDef (Description?, FormRef*, Alias*)>
<!ATTLIST StudyEventDef
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED
          Repeating (Yes | No) #REQUIRED
          Type  (Scheduled | Unscheduled | Common) #REQUIRED
          Category CDATA #IMPLIED>
<!ELEMENT FormRef EMPTY>
<!ATTLIST FormRef
          FormOID CDATA  #REQUIRED
          OrderNumber CDATA #IMPLIED
          Mandatory (Yes | No) #REQUIRED
          CollectionExceptionConditionOID CDATA  #IMPLIED>
<!ELEMENT FormDef (Description?, ItemGroupRef*, ArchiveLayout*, Alias*)>
<!ATTLIST FormDef
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED
          Repeating (Yes | No) #REQUIRED>
<!ELEMENT ItemGroupRef EMPTY>
<!ATTLIST ItemGroupRef
          ItemGroupOID CDATA  #REQUIRED
          OrderNumber CDATA #IMPLIED
          Mandatory CDATA #REQUIRED
          CollectionExceptionConditionOID CDATA  #IMPLIED>
<!ELEMENT ItemGroupDef (Description?, ItemRef*, Alias*)>
<!ATTLIST ItemGroupDef
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED
          Repeating (Yes | No) #REQUIRED
          IsReferenceData (Yes | No) #IMPLIED
          SASDatasetName CDATA #IMPLIED
          Domain CDATA #IMPLIED
          Origin CDATA #IMPLIED
          Role CDATA #IMPLIED
          Purpose CDATA #IMPLIED
          Comment CDATA #IMPLIED>
<!ELEMENT ItemRef EMPTY>
<!ATTLIST ItemRef
          ItemOID CDATA  #REQUIRED
          OrderNumber CDATA #IMPLIED
          Mandatory (Yes | No) #REQUIRED
          KeySequence CDATA #IMPLIED
          MethodOID CDATA  #IMPLIED
          Role CDATA #IMPLIED
          RoleCodeListOID CDATA  #IMPLIED
          CollectionExceptionConditionOID CDATA  #IMPLIED>
<!ELEMENT ItemDef (Description?, Question?, ExternalQuestion?, MeasurementUnitRef*, RangeCheck*, CodeListRef?, Alias*)>
<!ATTLIST ItemDef
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED
          DataType (text | integer | float | date | time | datetime | string | boolean | double | hexBinary | base64Binary | hexFloat | base64Float | partialDate | partialTime | partialDatetime | durationDatetime | intervalDatetime | incompleteDatetime | incompleteDate | incompleteTime | URI ) #REQUIRED
          Length CDATA #IMPLIED
          SignificantDigits CDATA #IMPLIED
          SASFieldName CDATA #REQUIRED
          SDSVarName CDATA #IMPLIED
          Origin CDATA #IMPLIED
          Comment CDATA #IMPLIED>
<!ELEMENT Question (TranslatedText+)>
<!ELEMENT ExternalQuestion EMPTY>
<!ATTLIST ExternalQuestion
          Dictionary CDATA #IMPLIED
          Version CDATA #IMPLIED
          Code CDATA #IMPLIED>
<!ELEMENT MeasurementUnitRef EMPTY>
<!ATTLIST MeasurementUnitRef
          MeasurementUnitOID CDATA  #REQUIRED>
<!ELEMENT RangeCheck ((CheckValue+ | FormalExpression+), MeasurementUnitRef?, ErrorMessage?)>
<!ATTLIST RangeCheck
          Comparator (LT | LE | GT | GE | EQ | NE | IN | NOTIN) #IMPLIED
          SoftHard (Soft | Hard) #REQUIRED>
<!ELEMENT CheckValue (#PCDATA)>
<!ELEMENT ErrorMessage (TranslatedText+)>
<!ELEMENT CodeListRef EMPTY>
<!ATTLIST CodeListRef
          CodeListOID CDATA  #REQUIRED>
<!ELEMENT Alias EMPTY>
<!ATTLIST Alias
          Context CDATA #REQUIRED
          Name CDATA #REQUIRED>
<!ELEMENT CodeList (Description?, (CodeListItem+ | EnumeratedItem+ | ExternalCodeList), Alias*)>
<!ATTLIST CodeList
          OID CDATA  #REQUIRED
          Name CDATA #REQUIRED
          DataType 	(integer | float | text | string ) #REQUIRED
          SASFormatName CDATA #IMPLIED>
<!ELEMENT CodeListItem (Decode, Alias*)>
<!ATTLIST CodeListItem
          CodedValue CDATA #REQUIRED
          Rank 	CDATA #IMPLIED
          OrderNumber CDATA #IMPLIED>
<!ELEMENT Decode (TranslatedText+)>
<!ELEMENT ExternalCodeList EMPTY>
<!ATTLIST ExternalCodeList
          Dictionary CDATA #IMPLIED
          Version CDATA #IMPLIED
          ref CDATA #IMPLIED
          href CDATA #IMPLIED>
<!ELEMENT EnumeratedItem (Alias*)>
<!ATTLIST EnumeratedItem
          CodedValue CDATA #REQUIRED
          Rank 	CDATA #IMPLIED
          OrderNumber CDATA #IMPLIED>
<!ELEMENT ArchiveLayout EMPTY>
<!ATTLIST ArchiveLayout
          OID CDATA  #REQUIRED
          PdfFileName CDATA #REQUIRED
          PresentationOID CDATA  #IMPLIED>
<!ELEMENT MethodDef (Description, FormalExpression*, Alias*)>
<!ATTLIST MethodDef
          OID CDATA  #REQUIRED
          Name 	CDATA #REQUIRED
          Type 	(Computation | Imputation | Transpose | Other)  #REQUIRED>
<!ELEMENT Presentation (#PCDATA)>
<!ATTLIST Presentation
          OID CDATA  #REQUIRED
          xml:lang CDATA #IMPLIED>
<!ELEMENT ConditionDef (Description, FormalExpression*, Alias*)>
<!ATTLIST ConditionDef
          OID CDATA  #REQUIRED
          Name 	CDATA #REQUIRED>
<!ELEMENT FormalExpression (#PCDATA)>
<!ATTLIST FormalExpression
          Context CDATA #REQUIRED>




<!ELEMENT ReferenceData (ItemGroupData*, AuditRecords*, Signatures*, Annotations*)>
<!ATTLIST ReferenceData
          StudyOID CDATA  #REQUIRED
          MetaDataVersionOID CDATA  #REQUIRED>
<!ELEMENT ClinicalData (SubjectData*, AuditRecords*, Signatures*, Annotations*)>
<!ATTLIST ClinicalData
          StudyOID CDATA  #REQUIRED
          MetaDataVersionOID CDATA  #REQUIRED>
<!ELEMENT SubjectData (AuditRecord?, Signature?, InvestigatorRef?, SiteRef?, Annotation*, StudyEventData*)>
<!ATTLIST SubjectData
          SubjectKey CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED>
<!ELEMENT StudyEventData (AuditRecord?, Signature?, Annotation*, FormData* )>
<!ATTLIST StudyEventData
          StudyEventOID CDATA  #REQUIRED
          StudyEventRepeatKey CDATA #IMPLIED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED>
<!ELEMENT FormData (AuditRecord?, Signature?, ArchiveLayoutRef?, Annotation*, ItemGroupData* )>
<!ATTLIST FormData
          FormOID CDATA  #REQUIRED
          FormRepeatKey CDATA #IMPLIED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED>
<!ELEMENT ItemGroupData (AuditRecord?, Signature?, Annotation*, (ItemData* | (ItemDataAny* | ItemDataString* | ItemDataInteger* | ItemDataFloat* | ItemDataDate* | ItemDataTime* | ItemDataDatetime* | ItemDataBoolean* | ItemDataHexBinary* | ItemDataBase64Binary* | ItemDataHexFloat* | ItemDataBase64Float* | ItemDataPartialDate* | ItemDataPartialTime* | ItemDataPartialDatetime* | ItemDataDurationDatetime* | ItemDataIntervalDatetime* | ItemDataIncompleteDatetime* | ItemDataIncompleteDate* | ItemDataIncompleteTime* | ItemDataURI*)*))>
<!ATTLIST ItemGroupData
          ItemGroupOID CDATA  #REQUIRED
          ItemGroupRepeatKey CDATA #IMPLIED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED>
<!ELEMENT ItemData (AuditRecord?, Signature?, MeasurementUnitRef?, Annotation* )>
<!ATTLIST ItemData
          ItemOID CDATA  #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          Value CDATA #IMPLIED
          IsNull  (Yes) #IMPLIED>
<!ELEMENT ItemDataAny (#PCDATA)>
<!ATTLIST ItemDataAny
          ItemOID CDATA  #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA    #IMPLIED
          SignatureID  CDATA    #IMPLIED
          AnnotationID  CDATA   #IMPLIED
          MeasurementUnitOID CDATA   #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataString (#PCDATA)>
<!ATTLIST ItemDataString
          ItemOID CDATA  #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA    #IMPLIED
          SignatureID  CDATA    #IMPLIED
          AnnotationID  CDATA   #IMPLIED
          MeasurementUnitOID CDATA   #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataInteger (#PCDATA)>
<!ATTLIST ItemDataInteger
          ItemOID CDATA  #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA    #IMPLIED
          SignatureID  CDATA    #IMPLIED
          AnnotationID  CDATA   #IMPLIED
          MeasurementUnitOID CDATA   #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataFloat (#PCDATA)>
<!ATTLIST ItemDataFloat
          ItemOID CDATA  #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA    #IMPLIED
          SignatureID  CDATA    #IMPLIED
          AnnotationID  CDATA   #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataDate (#PCDATA)>
<!ATTLIST ItemDataDate
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataTime (#PCDATA)>
<!ATTLIST ItemDataTime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataDatetime (#PCDATA)>
<!ATTLIST ItemDataDatetime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataBoolean (#PCDATA)>
<!ATTLIST ItemDataBoolean
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataHexBinary (#PCDATA)>
<!ATTLIST ItemDataHexBinary
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataBase64Binary (#PCDATA)>
<!ATTLIST ItemDataBase64Binary
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataHexFloat (#PCDATA)>
<!ATTLIST ItemDataHexFloat
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataBase64Float (#PCDATA)>
<!ATTLIST ItemDataBase64Float
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataPartialDate (#PCDATA)>
<!ATTLIST ItemDataPartialDate
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataPartialTime (#PCDATA)>
<!ATTLIST ItemDataPartialTime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataPartialDatetime (#PCDATA)>
<!ATTLIST ItemDataPartialDatetime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataDurationDatetime (#PCDATA)>
<!ATTLIST ItemDataDurationDatetime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataIntervalDatetime (#PCDATA)>
<!ATTLIST ItemDataIntervalDatetime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataIncompleteDatetime (#PCDATA)>
<!ATTLIST ItemDataIncompleteDatetime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataIncompleteDate (#PCDATA)>
<!ATTLIST ItemDataIncompleteDate
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataIncompleteTime (#PCDATA)>
<!ATTLIST ItemDataIncompleteTime
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ItemDataURI (#PCDATA)>
<!ATTLIST ItemDataURI
          ItemOID CDATA #REQUIRED
          TransactionType (Insert | Update | Remove | Upsert | Context) #IMPLIED
          AuditRecordID  CDATA #IMPLIED
          SignatureID  CDATA #IMPLIED
          AnnotationID  CDATA #IMPLIED
          MeasurementUnitOID CDATA #IMPLIED
          IsNull 	(Yes) #IMPLIED>
<!ELEMENT ArchiveLayoutRef EMPTY>
<!ATTLIST ArchiveLayoutRef
          ArchiveLayoutOID CDATA #REQUIRED>
<!ELEMENT AuditRecord (UserRef, LocationRef, DateTimeStamp, ReasonForChange?, SourceID?)>
<!ATTLIST AuditRecord
          EditPoint 	(Monitoring | DataManagement | DBAudit) #IMPLIED
          UsedImputationMethod 	(Yes | No) #IMPLIED
          ID CDATA #IMPLIED>
<!ELEMENT UserRef EMPTY>
<!ATTLIST UserRef
          UserOID CDATA #REQUIRED>
<!ELEMENT DateTimeStamp (#PCDATA)>
<!ELEMENT ReasonForChange (#PCDATA)>
<!ELEMENT SourceID (#PCDATA)>
<!ELEMENT Signature (UserRef, LocationRef, SignatureRef, DateTimeStamp, CryptoBindingManifest?)>
<!ATTLIST Signature
          ID CDATA #IMPLIED>
<!ELEMENT SignatureRef EMPTY>
<!ATTLIST SignatureRef
          SignatureOID CDATA #REQUIRED>
<!ELEMENT Annotation (Comment?, Flag*)>
<!ATTLIST Annotation
          SeqNum  CDATA #REQUIRED
          TransactionType 	(Insert | Update | Remove | Upsert | Context) #IMPLIED
          ID CDATA #IMPLIED>
<!ELEMENT Comment (#PCDATA)>
<!ATTLIST Comment
          SponsorOrSite (Sponsor | Site) #IMPLIED>
          
          
          
          
          
          
          
          
          

